.idea
/lib
node_modules
.DS_store
**/.DS_Store
.env*
/index.js
*.tgz
*.d.ts
*.map.js
*.js.map
dist
coverage

api/
services/
models/
subscribers/
migrations/
loaders/
interfaces/
strategies/
index.*
strategies/
repositories/
utils/

!src/**

./tsconfig.tsbuildinfo
./package-lock.json
./yarn.json
**/*/*.js.map